<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    
    <link href="/css/styles.css"  rel="stylesheet">
   
    <link href="/css/normalize.css"  rel="stylesheet">
    
    
    <title>REGISTRO ML</title>

</head>

<body class="body-font">
   <header class="ml-yellow-background abajo">
        <div class="main-header-top-bar">
           <img src="/images/logo-mercado-liebre.svg"alt class="logo" >
          
           <div class="barra-busqueda">
            <form action="#" method="POST">
                <input type="text" name="search" placeholder="lo que buscás" > 
                <i class="fas fa-search lupa"></i>
             
           </div>

           <h3 >
            <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
          </h3>

        </div>
        <nav class="ml-main-nav">
          <ul class="left-navbar">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
          </ul>   
      
          <ul class="right-navbar"> 
            <li><a href="/register.html">Creá tu cuenta </a><i class="fas fa-id-card"></i></li>
            <li><a href="/login.html">Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
            <li><a href="#">Mis compras </a><i class="fas fa-shopping-basket"></i></li>
          </ul>
        </nav>

      <div class="burger-menu">
      <i class="fas fa-bars"></i>
     </div>
          
   </header>


   <main id="main-content">

     <form action="#" method="POST">

        <div class="form-input " >

          <label for="name" class="hide"></label>
          <input type="text" name="name" id="name" placeholder="Nombre y Apellido">

        </div>

        <div class="form-input">

          <label for="username" class="hide"></label>
          <input type="text" name="username" id="username" placeholder="Usuario">

        </div>

        <div class="form-input">

          <label for="email" class="hide"></label>
          <input type="email" name="email" id="email" placeholder="Email">

        </div>

        <div class="form-input">

          <label for="birthdate"id="titulo">Fecha de nacimiento</label>
          <input type="date" name="birthdate" id="birthdate">

        </div>

        <div class="form-input">

          <label for="adress" class="hide"></label>
          <input type="text" name="adress" id="adress" placeholder="Domicilio">

        </div>


        <div class="form-input" >

          <label id="titulo" >Perfil de usuario</label>

            
            <div class="flex-box-radio">
              <input type="radio" name="user-profile" id="buyer" value="buyer">
              <label id="radio-check" for="buyer">comprador</label>

            
              <input type="radio" name="user-profile" id="seller" value="seller">
              <label  id="radio-check"for="seller">vendedor</label>
            </div>  

        </div>

        <div class="form-input">
          <label id="titulo">Intereses</label>
            <div>
              
              <input type="checkbox"
                     name="hogar"
                     id="hogar"
                     value="hogar"
              >       
              <label id="radio-check" for="hogar">Hogar</label>
            </div>

            <div>
              
              <input type="checkbox"
                     name="moda"
                     id="moda"
                     value="moda"
              >   
              <label  id="radio-check" for="moda">Moda</label>    
            </div>

            <div>
             
              <input type="checkbox"
                     name="electro"
                     id="electro"
                     value="electro"
              >   
              <label  id="radio-check" for="electro">Electro</label>    
            </div>

            <div>
             
              <input type="checkbox"
                     name="jugueteria"
                     id="jugueteria"
                     value="jugueteria"
              >       
              <label id="radio-check" for="jugueteria">Juguetería</label>
            </div>

            <div>
             
              <input type="checkbox"
                     name="vida-sana"
                     id="vida-sana"
                     value="vida-sana"
              >       
              <label id="radio-check" for="vida-sana">Vida sana</label>
            </div>
            
        </div> 

        <button type="submit">Enviar</button>
        <button type="reset">Borrar</button>  
  
     </form> 
      
   </main>
   
   
   <footer >
    <div class="footer-flex">
       <div class="footer-wrap">
          <section>
            <div id="icon-style" ><i class="fas fa-credit-card"></i></div>
            <h4 id="footer-text" >Pagá con tarjeta o en efectivo</h4>               
            <p id="footer-text">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
     puntos de pago. ¡Y siempre es seguro!</p>
    
     
         </section>
       </div>  
     
        <div class="footer-wrap">
           <section>
            <div id="icon-style"><i class="fas fa-gift"></i></div> 
            <h4 id="footer-text" >Envío gratis desde $ 2.500</h4>
            <p id="footer-text">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
     productos. Es un beneficio de Mercado Puntos.</p>
    
     
         </section>
       </div>  
      
        <div class="footer-wrap">
           <section>
            <div id="icon-style"><i class="fas fa-user-shield"></i></div>
            <h4 id="footer-text"  >Seguridad, de principio a fin</h4>           
            <p id="footer-text">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
     porque estás siempre protegid@.</p>
    
     
         </section>
       </div>  
   </div>
    
     <section>
     </div> Copyright© 1999-2020 MercadoLiebre S.R.L.</div>

    </section>
</footer>

</body>
</html>