*{
  box-sizing: border-box;
 }
 html,
 body{margin:0;
}

.ml-yellow-background{
    background-color:#EAC926;
    
}

.barra-busqueda {
    background-color: #fff;
    border-radius: 4px;
    padding: 5px;
    max-height: 25px;
    margin: 10px 10px 0px 10px;
    
}



.barra-busqueda input{
    border: none;

}

.main-header-top-bar{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}  

.main-header-top-bar h3{
   
    color:rgb(39, 37, 37);
    padding: 10px 0 10px 0;
}

.logo{
    width:40%;
    
}

.abajo{
   padding-bottom:25px;

}


#main-content-home{
    background-color:#ebebeb;
}

.padding-5{
    padding:0 5%;
}

#main-content{
    padding:15px 5% 20px;
    background-color:#ebebeb;
}

#margen-inferior-main{
    margin-bottom: 50px;
}
.margen-superior-imagen{
    margin-top: 0;
}

.compra-en-cuotas{
    text-align: center;
    padding-right: 30px;  
}

.burger-menu{
    text-align: center;
    margin:auto;
    font-size: 2em;
    padding: 8px 4px;
    display: block;
    background-color: blue;
    color:white;
    width:42px;
    border-radius: 6px;
    text-align: center;
}

.ml-main-nav{
    display: none;
}

.ml-main-nav ul{
    list-style-type: none;
    color:rgb(39, 37, 37);
    margin: 0;
    padding: 0;
    align-items: flex-end;
}

.ml-main-nav a{

    text-decoration: none;
    color:rgb(39, 37, 37);
}


.body-font{
    font-size: 12px;
    font-family: roboto;
}

.titulares-font{
    font-size:24px;
    color:#666;
    padding-top: 30px;
    margin-top: 0;

}

.price-font{
    font-size:18px;
    color:#666 ;
    margin-left: 3px;
}

.descuento-font{
    font-size:18px;
    color:#39b54a;
    margin-left: 10px;
   
}

.price-descuento{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;

}

.descripciones-font{
    font-size :16px;
    color:rgb(39, 37, 37) ;
    margin-left: 3px;
        

}



#icon-style{
    color:#1259c3;
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
    
}

footer{
    padding-top: 30px;
}

#footer-text{
    margin-left: 15%;
    margin-right: 15%;
    text-align:center;
    margin-bottom: 40px;
    margin-top: 0%;
}

.margen-subtitulo{
    margin-top: 0%;
    margin-bottom: 0%;
}

.shiping-icon{
    font-size:2em;
    color:#39b54a;
    border-radius:100%;
    border:#39b54a solid 1px;
    padding:5px;
    width:40px;
    position: absolute;
    right:10px;
    top:-40px;
    background-color: white;
}


#separacion{

    margin: 20px 10px;
    padding: 10px 10px;   
    line-height: 2px;
}


.shadow{
    box-shadow: 0 0 10px rgb(100, 100 ,100);
    
}

#box-article{

    border:solid 1px  #ebebeb;
    background-color: #ffffff;
    position: relative;
  
}

.flex-box{
    display: flex;
    flex-wrap: wrap;
}


.hide{
    display: none; 
}



.form-input label{
    display:block;
    width: 100%;
    margin:5px 0;
    color:rgb(39, 37, 37);     
}

.flex-box-radio{
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: space-around;

}

.flex-box-radio label{
    margin-left: 35px;

}    

.form-input input{
    display:block;
    width: 100%;
    margin:20px 0;
    padding: 10px;
    border:none;
    border-radius: 6px;
}

.form-input {
    font-weight:normal;
    font-size: 14px;
     
}


#radio-check{
    display: inline;
    
}

.form-input input[type="radio"]{
    justify-content: space-between;
}

.form-input input[type="radio"],
.form-input input[type="checkbox"]{
    display:inline;
    width: auto;
    margin-left: 20px;
}    

#titulo{
    font-weight: bolder;
}

.copyright-text{
    margin-left: 10px;
    margin-bottom:10px;
}

@media (min-width: 480px){

  

.wraper{
     width:50%;
}    

.barra-busqueda {
    width: 40%;
    flex-grow: 1;
    position: relative;
    padding: 5px 0; 
}   

.barra-busqueda input{
    width: 90%;   
    
}

.lupa{
    margin-right: 0;
    padding-right:0;
    position:absolute;
    right:3px;
}

.burger-menu{
     display: none;
    
}
        
.logo{
     width: 20%;
     padding-left: 10px;
     padding-top: 10px;
    
}



.main-header-top-bar{
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 10px;
}

.main-header-top-bar h3{
   
    color:rgb(39, 37, 37);
    padding: 10px 6px 0 0;
    width: auto;
    font-size: 11px;
    text-align: end;
    margin-bottom: 0;
    min-width: 250px;
}   

.ml-main-nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 0 10px;
    font-size: 10px;
    
}


.ml-main-nav ul {
    display: flex;    
}
.ml-main-nav li{
    margin:0 6px 0 6px;
}

.form-login {
    margin:20px auto;
    width: 80%;
    display:block; 
    
}

.form-login label{
    margin:20px auto;
    width: 80%;
    display:none;
   
}

.form-login input{
    margin:20px auto;
    width: 80%;
    display:block;
    padding: 10px 0;
    font-size: 10px; 
    border:none;
    border-radius: 6px;
    max-width: 750px;
}

.form-login button{
    margin:20px auto;
    width: 80%;
    display:block;
    padding: 10px 0;
    font-size: 10px; 
    background-color:#1259c3;
    color: white;
    width: 80%;
    border:none;
    border-radius: 6px;
    max-width: 750px;
}



.form-login button:hover {
    background-color:#0022AA;  
}

.form-login a{
    text-decoration: none;
}

.flex-box-radio{
    width:50%;
}

.form-input input{
    width: 70%;
    
}


}    

@media (min-width: 768px){

    .wraper{
         width:25%;
    }    

    .barra-busqueda{
        max-width: 500px;
        padding: 8px 0;
    }

    .ml-main-nav{
        font-size: 12px;
        
    }

    .main-header-top-bar h3{
   
        font-size: 12px;
    }   
    
    

    .descripciones-font {    
        opacity: 0; 
        font-size :12px;
        transition: opacity 500ms;
    }

    #separacion{

        margin: 20px 5px;
        padding: 5px 5px;   
    }

   .shadow{
        box-shadow: none;
    }

    .wraper:hover .shadow{
        box-shadow: 0 0 10px rgb(100, 100 ,100);  
    }

    #separacion:hover .descripciones-font{
       
       opacity:1;
    } 

    .shiping-icon{
        font-size: 10px;
        color:#39b54a;
        border-radius:100%;
        border:#39b54a solid 1px;
        padding:5px;
        width:23px;
        position: absolute;
        right:10px;
        top:-22px;
        background-color: white;
    }
   

   .login-height{
    height: 300px;
   
    }


    .shiping-icon{
    transition: transform ease-in-out 1s;
    }


    .wraper:hover .shiping-icon{
    transform: rotate(360deg);
    }


    .footer-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 30px;
    padding: 0 15px;
    }


    #footer-text{
    margin-left: 5px;;
    margin-right: 5px;
    text-align:center;
    margin-bottom: 5px;
    margin-top: 0%;
    }


    .footer-wrap p{
    font-size: 10px;
    }


    .footer-wrap{
     width: 33%;

    }


    #icon-style{
    color:#1259c3;
    font-size: 1.5em;
    text-align: center;
     margin-bottom: 0px;
 
    }


    #icon-style:hover {
    color:rgb(4, 67, 87);  
    }

    .form-input input{
        width: 55%;
        
    }
    


}
